div#form {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background-color: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div#form table {
    width: 55%;
    margin: 0 auto;
}
td.label {
    width: 15%;
    border: none;
}
td.input {
    width: 30%;
    height: 30px;
    border: none;
}
div#action {
    width: 20%;
    text-align: center;
}
span#delete {
    padding: 7px 20px;
    font-size: 0.7em;
    background-color: #dd8683;
    color: #ffffff;
    border-style: none;
    cursor: pointer;
}
input#submit {
    padding: 7px 20px;
    font-size: 0.7em;
    background-color: #9a9a9a;
    color: #ffffff;
    border-style: none;
    cursor: pointer;
}
